@model IEnumerable<Inventory_Management_System.DTOs.UserDto>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>

    <link rel="stylesheet" href="~/css/user.css" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>

    <div class="bg-blur"></div>

    <main class="content">

        <nav class="nav-main">
            <a asp-controller="StoreItems" asp-action="Index" class="Neko">NeKo</a>
            <div class="font_title">About Us</div>
        </nav>

        <div class="user-boX">
            <div class="bg-user">
                <img src="/Images/userbox.png" alt="">

                <div class="whole-content">

                    @foreach (var user in Model)
                    {
                        <div class="paper-bg">

                            <img src="/Images/userpaper.png" alt="">

                            <div class="paper-info">
                                <div class="Name">
                                    @user.first_name
                                </div>

                                <div class="items">
                                    Selling:
                                    <div class="num">
                                        @user.ItemCount items
                                    </div>
                                </div>
                            </div>

                            <a class="profile"
                               asp-controller="User"
                               asp-action="Profile"
                               asp-route-id="@user.id">
                            </a>

                            @if (User.IsInRole("Admin"))
                            {
                                <div class="button">
                                    <a asp-action="Delete"
                                       asp-route-id="@user.id"
                                       style="color:red;">
                                        | Delete |
                                    </a>

                                    <a asp-action="Edit"
                                       asp-route-id="@user.id"
                                       style="color:green;">
                                        | Edit |
                                    </a>
                                </div>
                            }

                        </div>
                    }

                </div>
            </div>
        </div>

    </main>

</body>
</html>
